html{
	min-height: 100%;
}
#index{
	min-height: 100%;
	background-color: #36c2ff;
	background-image: url('../img/index/pemandangan.png');
	background-size: 100% 70%;
	background-position: bottom;
	background-repeat: no-repeat;
}

#index #judul{
	width: 25%;
	margin-top: 3%;
}

#content{
	background-color: #960;
	height: 100%; 
}

#kepala{
	background-color: #ecf0f1;
}

#kepala .logo{
	width: 60%;
	margin-left: 5%;
	margin-top: 5%;
}

#kepala ul li{
	display: inline-block;
	margin-left: 2%;
	margin-top: 3%;
}

#kepala ul li a{
	text-decoration: none;
	color: #222
}

#kepala ul li a:hover{
	color: #777;
}

#kepala #logout p{
	margin-top: 2%;
	margin-bottom: 2%;
}